# Target
target/
*.class

# Log files
*.log

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextReleaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
bin/

# System
.DS_Store
Thumbs.db
